<div class="container mt-5">
    <div class="row">
        <div class="col-6 align-self-center">
            <a [routerLink]="'/workers'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}">
                <img src="../../images/workers.png" alt="Работники" width="100%">
            </a>
        </div>
        <div class="col-6">
            <a class="non-decoration" [routerLink]="'/workers'" [routerLinkActive]="'active'"
                [routerLinkActiveOptions]="{exact:true}">
                <h3>Просмотр всех сотрудников</h3>
            </a>
            Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Nam elementum lectus ac
            orci egestas, a molestie turpis malesuada.
            Sed eget maximus velit, id porttitor nunc.
            Ut venenatis tellus ac fermentum faucibus.
            Vestibulum vel tincidunt orci, eget
            faucibus turpis. Aliquam ultricies neque
            in porttitor ornare. Phasellus pharetra
            purus mi, ac ultricies neque cursus id.
            Nullam scelerisque, mi eget molestie
            laoreet, risus urna pretium ante, eget
            mattis odio
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="row">
            <div class="col-6">
                <a class="non-decoration" [routerLink]="'/workers/profile'" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}">
                    <h3>Добавить нового сотрудника</h3>
                </a>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Vivamus in ipsum eleifend diam commodo varius in
                    at odio. Sed ultrices aliquet augue in varius.
                    Nulla consequat lorem turpis, a finibus dui
                    volutpat sed. Integer volutpat aliquet nibh,
                    vel ultrices quam lobortis eget. Aliquam et purus
                    ante. Integer aliquet ex nec eros scelerisque
                    elementum. Suspendisse blandit ornare sagittis.
                    In sem purus, mattis vitae libero et, maximus
                    vehicula sem. Lorem ipsum dolor sit amet,
                    .</p>
            </div>
            <div class="col-6">
                <a class="non-decoration" [routerLink]="'/workers/profile'" [routerLinkActive]="'active'"
                    [routerLinkActiveOptions]="{exact:true}">
                    <img src="../../images/worker.jpg" alt="fdfgsf" width="100%">
                </a>
            </div>
        </div>
    </div>
</div>